<div class="container">

  <nav class="navbar navbar-light bg-light mt-5">
    <form class="form-inline">
      <button class="btn btn-outline-success" [routerLink]="['/department']" type="button">Department</button>
      <button class="btn btn-outline-success"  [routerLink]="['/employee']" type="button">Employee</button>
      <button class="btn btn-outline-success"  [routerLink]="['/adduser']" type="button">AddUser</button>
      <button class="btn btn-outline-success"  [routerLink]="['/update']" type="button">UpdateUser</button>


    </form>
  </nav>
  
  <router-outlet></router-outlet>
</div> 
